<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connected</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Successfully Connected</h1>
        <p>Congratulations! You just got hacked!</p>
        <img src="static/skull.png" alt="Description of the image" class="center">
    </div>
</body>
</html>
